.form-bg-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.form-card{
    background-image: linear-gradient(to bottom, rgb(150, 192, 83),rgb(113, 207, 207));
    width: 50%;
    border-radius: .6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.label-text{
    font-size: 1.3rem;
    font-family: sans-serif;
}
.input{
    height: 1.8rem;
    border: 1px solid rgb(202, 198, 198);
    outline: none;
    border-radius: .2rem;
    margin-bottom: 1rem;
}
.button{
    height: 2.2rem;
    width:  6rem;
    font-size: .9rem;
    font-weight: 600;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    background-color: rgb(139, 139, 235);
}
.error-msg{
    color: red;
}