.table-main-card{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.settings-menu{
  font-size: 2rem;
}
.helo{
  text-align: right;
}


table{
  border: 1px solid black;
  border-collapse: collapse;
}
table th,td{
  height: 30px;
  border: 1px solid black;
  padding: .6rem;
}
.search{
  margin-bottom: 1rem;
}
.each-todo-card{
  padding: 4rem;
}

